.main-content-wrap
  .content
    .main-back
      .content-text
        %h2.animate__animated.animate__backInRight 不動産賃貸業に
        %h2.animate__animated.animate__backInLeft 確かな未来のカタチ
.mobile-main-content-wrapper
  .content
    .main-back
      .content-text
        %h2.animate__animated.animate__backInRight 不動産賃貸業に
        %h2.animate__animated.animate__backInLeft 確かな未来のカタチ

