.main-content-wrap
  .content
    .main-back
      = video_tag "/assets/videos/top.mp4", loop: true, autoplay: true, muted: true
      %h2.animate__animated.animate__fadeInLeft
        改める戦略のカタチ
      %h3.animate__animated.animate__zoomInRight
        賃貸仲介業者に問う
      %h1.animate__animated.animate__fadeInTopLeft
        Q. その売上目標、本当に達成できますか？