.app-main-content-wrap
  .app-content
    .app-analytics-bar
      %h1.analytics-store-select
        = link_to "#" do
          西新宿本店
          %i.fas.fa-angle-down
      %h1.analytics-month-select
        = link_to "#"do
          3月度アナリティクス
          %i.fas.fa-angle-down
    .app-analytics
      .countion
        %h1
          %i.fas.fa-exclamation-circle
          注意: 適切でない情報を入力すると、正しい結果が反映されません。詳しくは
          = link_to "マニュアル","#"
          をご確認ください
      -# .year-goal-title-box
      -#   %h1
      -#     %i.fas.fa-flag-checkered
      -#     年度売上の概要
      .box
        .box-title
          .text
            売上データ
        .box-content
          %ul
            %li
              総売上高 18,621,000
            %li
              目標売上高 20,000,000
            %li.goal
              目標まで 13,790,000
      .box-2
        .box-title
          .text
            売上データ
        .box-content
          %ul
            %li
              総売上高 18,621,000
            %li
              目標売上高 20,000,000
            %li.goal
              目標まで 13,790,000