$accel_pink: #E43AD2;
$accel_black: #13202F;

.error-alert{
  background-color: whitesmoke;
  border: 1px dotted $accel_black;
  font-family: "メイリオ";
  margin: 20px 20px 30px 20px;
  font-size: 20px;
  list-style: none;
  ul{
    li{
      list-style: none;
      font-size: 16px;
    }
  }
}