$accel_pink: #E43AD2;
$accel_black: #13202F;  

@keyframes pika-green{
  0%{
    border: 20px dashed rgba(60,200,60, .3);
  }
  50%{
    border: 3px dashed rgba(60,200,60, 1);
  }
  100%{
    border: 3px dashed rgba(60,200,60, 1);
  }
}

@keyframes pop{
  0%{
    top:-20px;
  }
  50%{
    top: -25px;
    opacity: 1;
  }
  100%{
    top: -20px;
  }
}

@keyframes box-hover-orange{
  0%{
    border-color: rgba(255, 149, 74, .9);
    outline-color: rgba(255, 149, 74, .9);
  }
  50%{
    border-color: rgba(255, 149, 74, .8);
    outline-color: rgba(255, 149, 74, .1);
  }100%{
    border-color: rgba(255, 149, 74, .9);
    outline-color: rgba(255, 149, 74, .9);
  }
}

@keyframes box-hover-green{
  0%{
    border-color: rgba(60,200,60, .9);
    outline-color: rgba(60,200,60, .9);
  }
  50%{
    border-color: rgba(60,200,60, .8);
    outline-color: rgba(60,200,60, .1);
  }
  100%{
    border-color: rgba(60,200,60, .9);
    outline-color: rgba(60,200,60, .9);
  }
}

@keyframes box-hover-blue{
  0%{
    border: 3px solid rgba(0,153,255,0.6);
    outline: 2px dashed rgba(0,153,255,0.6);
  }
  50%{
    border-color: rgba(0,153,255,0.6);
    outline-color: rgba(0,153,255,0.6);
  }
  100%{
    border-color: rgba(0,153,255,0.6);
    outline-color: rgba(0,153,255,0.6);
  }
}

.header-app{
  font-family: century-gothic,Avenir Next,Century Gothic,sans-serif;
  background-color: white;
  height: 70px;
  color: $accel_black;
  box-shadow: 0px 0px 6px 1px inset rgba(0,0,0,0.3);
  position:relative;
  z-index: 1;
  @media (max-width: 960px){
    display: none;
  }
  .apps-home-logo{
    height: 70px;
    width: 160px;
    max-width: 160px;
    margin-left: 20px;
  }
  .current-logo-registration{
    display: block;
    background-color: rgb(255, 149, 74);
    height: 280px;
    width:  300px;
    position: absolute;
    top: -200px;
    right:-220px;
    transform: rotate(45deg);
    &:hover{
      position: absolute;
      top: -198px;
      right:-218px;
      opacity: .6;
    }
    @media (max-width: 1000px){
      display: none;
    }
  }
  .fa-bars{
    display: none;
    font-size: 50px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 20px;
    &:active{
      color: rgb(255, 149, 74);
    }
    @media (max-width: 1000px){
      display: block;
    }
  }
  #menu{
    display:none;
    width: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 149, 74, 0.3);
    box-shadow: 1px 1px 1px rgba(255, 149, 74, 0.3);
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    ul{
      background-color: rgb(255, 255, 255);
      list-style: none;
      position: relative;
      border-bottom: 1px solid $accel-black;
      i.fas.fa-times-circle{
        position: absolute;
        top: -10px;
        left: -16px;
        font-size: 1.2rem;
        &:hover{
          color: red;
        }
      }
      li{
        a{
          display: block;
          color: $accel_black;
          text-decoration: none;
          font-size: 16px;
        }
        &:hover{
          border-radius: 3px;
          border: ridge 2px $accel_pink; 
        }
      }
    }
  }
  .display-block{
    display: block !important;
  }
  .home-logo{
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    top: 245px;
    right: 143px;
    transform: rotate(-45deg);
  }
  .container-1{
    height: 70px;
    margin: 0 auto;
    display: flex;
    .navi-flex{
      width: 650px;
      max-width: 650px;
      display: flex;
      justify-content: start;
      img{
        
      }
      ul{
        display: flex;
        justify-content: center;
        margin-left: 20px;
        @media (max-width: 1000px){
          display: none;
        } 
        li{
          border-left: 1px dotted rgba(0,0,0,0.3);
          list-style: none;
          a{
            height:70px;
            display: block;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            text-decoration: none;
            font-weight: 700;
            font-size: 17px;
            color: $accel_black;
            &:hover{
              height:70px;
              color: accel_black;
              font-size:22px;
              border-radius: 3px;
              border: ridge 2px $accel_pink; 
            }
          }
        }
      }
    }
    .user-navi{
      width: 500px;
      display: flex;
      font-size:18px;
      @media (max-width: 1000px){
        display: none;
      }
      .profile-img{
        margin: 5px 0px;
        margin-left: 20px;
        display: block;
        display: flex;
        align-items: center;
        .mens-color{
          border: solid 3px rgba(0, 153, 204 , 0.3);
          border-radius: 50%;
          width: 60px;
          height: 60px;
          &:hover{
            opacity:0.8;
            border: dotted 3px rgba(0, 153, 204 , 0.6);
            transform: rotate3d(1,1,1,10deg);
            color: accel_black;
            font-size:22px;
            border-radius: 3px;
            border: ridge 2px $accel_pink; 
            border-radius: 50%;
          }
        }
        .woman-color{
          border: solid 3px rgba(255, 153, 204, 0.6);
          border-radius: 50%;
          width: 60px;
          height: 60px;
          &:hover{
            opacity:0.8;
            border: dotted 3px rgba(0, 153, 204 , 0.6);
            transform: rotate3d(1,1,1,10deg);
            color: accel_black;
            font-size:22px;
            border-radius: 3px;
            border: ridge 2px $accel_pink; 
            border-radius: 50%;
          }
        }
      }
      .profile-navi{
        padding-left: 10px;
        display: flex;
        justify-content: center;
        .profile-name{
          margin-top: 21.5px;
          margin-left: 10px;
          a{
            display: block;
            text-decoration: none;
            color: $accel_black;
            &:hover{
              color: $accel_black;
              font-size:19px;
              border-radius: 3px;
              border-bottom: ridge 2px $accel_pink; 
            }
          }
        }
        .profile-company{
          margin-top: 21.5px;
          margin-left: 10px;
          a{
            text-decoration: none;
            color: $accel_black;
            display: block;
            &:hover{
              color: $accel_black;
              opacity:0.7;
              font-size:19px;
              border-radius: 3px;
              border-bottom: ridge 2px $accel_pink; 
            }
          }
        }
      }
    }
  }
}
.app-main-content-wrap{
  background-color: white;
  overflow: hidden;
  .app-content{
    width:100%;
    .app-analytics-bar{
      background-color: $accel_black;
      height: 30px;
      display: flex;
      @media (max-width: 1000px){
        display: none;
      }
      .breadcrumbs-list{
        margin: auto 0 auto 10px;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: bold;
      }
    }
    .app-analytics{
      margin-top: 10px;
      margin-left: 10%;
      margin-right: 10%;
      #flash-login{
        text-align: center;
        display: inline-block;
        background-color: rgba(255,255,255, .9);
        position: fixed;
        z-index: 999;
        top: -100px;
        left: calc(50% - 200px);
        width: 400px;
        padding:  10px;
        padding-top: 10px;
        border-radius: 6px;
        border: 1px solid $accel_black;
        border-bottom: 3px solid $accel_black;
        animation: flash-bar 3s ease .3s 1 normal;
          // キーフレームの定義
        // フラッシュを美しく演出するためのアニメーション
        @keyframes flash-bar{
          0%{
            top: -20px;
          }
          10%{
            top: -3px;
          }
          30%{
            top: -6px;
          }
          50%{
            top: -3px;
          }
          80%{
            top: -3px;
          }
          100%{
            top: -60px;
          }
        }
        i.fas.fa-check-circle.error-icon-big{
          color: rgb(122, 255, 101);
          font-size: 20px;
          padding: 10px;
          // animation: fadeIn .5s ease 3s 1 normal;
          span{
            color: $accel_black;
          }
        }
      }
      .countion{
        margin-bottom: 10px;
        padding: 10px 12.5px 10px 12.5px;
        text-align: center;
        h1{
          font-size: 1.0625rem;
          font-family: "メイリオ";
          color: rgba(0,0,0,0.87);
          a{
            text-decoration: none;
            color: blue;
          }
          .fa-exclamation-circle{
            color: red;
          }
        }
      }
      .box{
        color: rgba(80,80,80, 1);
        padding: 24px;
        margin-bottom: 24px;
        background-color: white;
        border: 3px solid rgba(0,153,255,0.3);
        &:hover{
          animation: box-hover-blue 1s infinite;
        }
        .box-title{
          display: flex;
          align-items: baseline;
          .text{
            font-size: 2.4rem;
          }
        }
        .box-content{
          padding-top: 24px;
          ul{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(100, 100, 100, 0.3);
            li{
              padding: 0 24px 0 6px;
              border-left: 2px solid #dce4e9;
              width: 33.3%;
              list-style-type: none;
              font-size: 1.4rem;
            }
            .goal{
              color: red;
            }
          }
        }
        .wrap{
          display: flex;
          justify-content: space-around;
          margin-top: 30px;
          overflow: hidden;
          #chart-1{
          width: 400px !important;
          }
          #chart-2{
          width: 400px !important;
          }
        }
      }
      .box-line{
        display: flex;
        flex-direction: columns;
        .box{
          width: calc(100%/3);
          padding: 24px;
          margin: 0 10px;
          margin-bottom: 24px;
          background-color: white;
          border: 3px solid #dce4e9;
          .box-title{
            display: flex;
            align-items: baseline;
            .text{
              font-size: 1.3rem;
            }
          }
          ul{
            li{
              list-style: none;
              img{
                border: 1px dashed hsla(0,100%,50%,0.2);
                width: 30%;
                height: 100px;
                object-fit: cover;
                border-radius: 3px 3px 0 0;
              }
            }
          }
        }
        .box-1{
          color: rgba(80,80,80, 1);
          width: calc(100%/3);
          padding: 24px;
          margin: 0 10px;
          margin-bottom: 24px;
          background-size: cover;
          border: 3px solid rgba(255, 149, 74, 0.3);
          outline: 2px dashed #dce4e9;
          position: relative;
        &:hover{
          animation: box-hover-orange 1s infinite;
        }
          .box-title{
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid rgba(100, 100, 100, .2);
            margin-bottom: 20px;
            .text{
              font-size: 1.3rem;
              text-align: center;
            }
            span{

            }
          }
          ul{
            width: 100%;
            height: 230px;
            display: flex;
            flex-wrap:wrap;
            position:relative;
            overflow: hidden;
            li{
              list-style: none;
              margin: 0 3px;
              a{
                display: block;
                color: #FFFFFF;
                img{
                  border: 2px dashed hsla(0,100%,20%,.2);
                  outline: 1px solid rgba(100, 100, 100, .2);
                  width: 80px;
                  height: 100px;
                  object-fit: cover;
                  border-radius: 3px 3px 0 0;
                  &:active{
                    animation: none;
                  }
                  &:hover{
                    opacity: .6;
                    width: 100px;
                    animation: pika .5s infinite;
                    & + p{
                      display: block;
                    }
                  }
                }
                p{
                  display:none;
                  position: absolute;
                  width: 100%;
                  bottom:10px;
                  left: 0;
                  background-color: rgba(100, 100, 100, .8);
                }
              }
            }
          }
          img.new{
            position: absolute;
            top: -40px;
            right: -10px;
            width: 50px;
            transform:rotate(10deg);
            opacity: .8;
            animation: pop .5s infinite;
          }
        }
        .box-2{
          color: rgba(80,80,80, 1);
          width: calc(100%/3);
          padding: 24px;
          margin: 0 10px;
          margin-bottom: 24px;
          background-size: cover;
          border: 3px solid rgba(255, 149, 74, .3);
          outline: 2px dashed #dce4e9;
          position:relative;
          &:hover{
            animation: box-hover-orange 1s infinite;
          }
          .box-title{
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid rgba(100, 100, 100, .2);
            margin-bottom: 20px;
            .text{
              font-size: 1.3rem;
              text-align: center;
            }
          }
          ul{
            width: 100%;
            height: 230px;
            display: flex;
            flex-wrap:wrap;
            position:relative;
            overflow: hidden;
            li{
              list-style: none;
              margin: 0 3px;
              a{
                display: block;
                color: #FFFFFF;
                img{
                  border: 2px dashed hsla(0,100%,20%,.2);
                  outline: 1px solid rgba(100, 100, 100, .2);
                  width: 80px;
                  height: 100px;
                  object-fit: cover;
                  border-radius: 3px 3px 0 0;
                  &:active{
                    animation: none;
                  }
                  &:hover{
                    opacity: .6;
                    width: 100px;
                    animation: pika .5s infinite;
                    & + p{
                      display: block;
                    }
                    @keyframes pika{
                      0%{
                        border: 3px dashed rgba(255, 149, 74, 1);
                      }
                      50%{
                        border: 3px dashed rgba(255, 149, 74, .1);
                        transform:rotate(-10deg);
                      }
                      100%{
                        border: 3px dashed rgba(255, 149, 74, 1);
                      }
                    }
                  }
                }
                p{
                  display:none;
                  position: absolute;
                  width: 100%;
                  bottom:10px;
                  left: 0;
                  background-color: rgba(100, 100, 100, .8);
                }
              }
            }
          }
          img.new{
            position: absolute;
            top: -20px;
            right: -10px;
            width: 50px;
            transform:rotate(10deg);
            opacity: .8;
            animation: pop .5s infinite;
          }
        }
        .box-3{
          color: rgba(80,80,80, 1);
          width: calc(100%/3);
          padding: 24px;
          margin: 0 10px;
          margin-bottom: 24px;
          background-size: cover;
          border: 3px solid rgba(60,200,60, .3);
          outline: 2px dashed #dce4e9;
          &:hover{
          animation: box-hover-green 1s infinite;
          }
          .box-title{
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid rgba(100, 100, 100, .2);
            margin-bottom: 20px;
            .text{
              font-size: 1.3rem;
              text-align: center;
            }
          }
          ul{
            width: 100%;
            height: 230px;
            display: flex;
            flex-wrap:wrap;
            position:relative;
            background-color: #FFFFFF;
            li{
              list-style: none;
              margin: 0 3px;
              position: relative;
              a{
                display: block;
                color: #FFFFFF;
                img.men{
                  border: 3px double rgba(0, 153, 204, 0.3);
                  width: 80px;
                  height: 60px;
                  object-fit: cover;
                  border-radius: 3px 3px 0 0;
                  &:active{
                    animation: none;
                  }
                  &:hover{
                    opacity: .6;
                    width: 100px;
                    height: 60px;
                    animation: pika-green .5s forwards;
                    & + p{
                      display: block;
                    }
                  }
                }
                img.women{
                  border: 3px double pink;
                  width: 80px;
                  height: 60px;
                  object-fit: cover;
                  border-radius: 3px 3px 0 0;
                  &:active{
                    animation: none;
                  }
                  &:hover{
                    opacity: .6;
                    width: 100px;
                    animation: pika-green .5s forwards;
                    & + p{
                      display: block;
                    }
                  }
                }
                p{
                  display:none;
                  position: absolute;
                  width: 100%;
                  top: 60px;
                  left: 0;
                  background-color: rgba(100, 100, 100, .8);
                }
                .fas.fa-check-circle{
                  position: absolute;
                  top: 0;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
}