$accel_pink: rgb(228, 58, 211);
$accel_black: #13202F;
$list-position: 20%;

.worker-border{
  background-color: $accel_pink;
  position: fixed;
  top: 50vh;
  height:10px;
  width:100%;
  z-index: -100;
  box-shadow: 0 3px 8px $accel_pink;
}

.company-border{
  background-color: $accel_black;
  position: fixed;
  top: 50vh;
  height:10px;
  width:100%;
  z-index: -100;
}

.button-back-ground{
  width: 300px;
  z-index: -100;
  height: 40px;
  position: fixed;
  bottom: $list-position;
  right: -4%;
  background-color:rgba(0,0,0,0.1);
  font-size: 16px;
  border-radius: 30px;
  &:hover{
    position: fixed;
    bottom: $list-position;
    right: -3%;
  }
  @media(max-width: 1350px){
    display:none;
  }
  .move-button{
    border-radius: 30px;
    opacity: 0.8;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    color: $accel_black;
    font-family: "メイリオ";
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 300px;
    height:40px;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;
    &:hover{
      color: $accel_pink;
    }
    .exit-or-in{
      margin: 0 6px 0 13px;
    }
    .exit-or-in-comment{
      font-weight: bold;
    }
  }
}

.button-back-ground-2{
  width: 300px;
  z-index: -100;
  height: 40px;
  position: fixed;
  bottom: $list-position - 5%;;
  right: -4%;
  background-color:rgba(0,0,0,0.1);
  font-size: 16px;
  border-radius: 30px;
  &:hover{
    position: fixed;
    bottom: $list-position -5%;
    right: -3%;
  }
  @media(max-width: 1350px){
    display:none;
  }
  .move-button{
    border-radius: 30px;
    opacity: 0.8;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    color: $accel_black;
    font-family: "メイリオ";
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 300px;
    height:40px;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;    
    &:hover{
      color: $accel_pink;
    }
    .exit-or-in{
      margin: 0 6px 0 13px;
    }
    .exit-or-in-comment{
      font-weight: bold;
    }
  }
}

.button-back-ground-3{
  width: 300px;
  z-index: -100;
  height: 40px;
  position: fixed;
  bottom: $list-position - 10%;
  right: -4%;
  background-color:rgba(0,0,0,0.1);
  font-size: 16px;
  border-radius: 30px;
  &:hover{
    position: fixed;
    bottom: $list-position - 10%;
    right: -3%;
  }
  .move-button{
    border-radius: 30px;
    opacity: 0.8;
    display: block;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    color: $accel_black;
    font-family: "メイリオ";
    border: 2px solid rgba(0, 0, 0, 0.3);
    width: 300px;
    height:40px;
    text-align: left;
    display: flex;
    justify-content: start;
    align-items: center;    
    &:hover{
      color: $accel_pink;
    }
    .exit-or-in{
      margin: 0 6px 0 13px;
    }
    .exit-or-in-comment{
      font-weight: bold;
    }
  }
}


.mini-width-menu{
  display: none;
  width: 300px;
  z-index: 100;
  height: 40px;
  position: fixed;
  bottom: $list-position - 5%;;
  top: 1%;
  right: -10%;
  padding: 10px;
  background-color:rgba(0,0,0,0.1);
  font-size: 16px;
  border-radius: 30px;
  border-radius: 30px;
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  color: $accel_black;
  font-family: "メイリオ";
  border: 2px solid rgba(0, 0, 0, 0.3);
  width: 300px;
  height:40px;
  text-align: left; 
  &:hover{
    position: fixed;
    bottom: $list-position -5%;
    .menu{
      display: flex;
      flex-direction: column;
    }
  }
  @media(max-width: 1350px){
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  i.fas.fa-list-ul{
  }
  .menu{
    display:none;
    padding: 5px;
    background-color: #FFFFFF;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0, .3);
    a{
      display: black;
      margin: 3px 0;
      padding-left: 3px;
      text-decoration: none;
      color: $accel_black;
      background-color: rgba(159, 159, 159, 0.1);
      &:hover{
        background-color: rgba(0,0,0,0.1);
      }
    }
  }
}

.flex-style{
  display: flex;
  align-items: center !important;
  justify-content: center;
  padding: 30px 60px 10px 60px;
  text-align: center;
  z-index:0;
  position: relative; 
  .auth_form {
    width: 800px;
    min-width: 800px;
    border-radius: 8px;
    background-color:rgba(255,255,255, 0.9);
    padding: 15px;
    font-size:30px;
    box-shadow: 0 5px 600px white;
    .logo{
      margin: 0 auto;
      width: 400px;
      font-size: 60px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
    .make-account-title{
      display: flex;
      justify-content: center;
      align-items: center;
      color: #656873;
      padding: 30px 10px 10px 10px;
      font-size: 30px;
      border-bottom: solid 10px;
      border-top: solid 3px;
      border-top-color: rgba(0,0,0,0.1) ;
      border-bottom: dotted 3px;
      border-bottom-color:rgba(0,0,0,0.1) ;
      h2{
        font-size: 40px;
        font-weight:normal;
      }
    }
    h3{
      color: #656873;
      padding-top: 10px;
      font-size: 13px;
      padding-bottom: 10px;
      .make_account_information_mark{
        color:#4dabff;
      }
    }
    .chain-border{
      height: 30px;
      border-left: 2px dotted #656873;
      margin-left: 78px;
    } 
    .support-message{
      color: #656873;
      padding-top: 10px;
      padding-bottom: 20px;
      font-size: 22px;
      font-family: "メイリオ";
      // border-left: dashed 3px #656873; 
      width: 80%;
      height: 80px;
      margin: 30px auto;
      border-radius: 10px 0 10px 0;
      display: flex;
      justify-content: center;
      // font-weight: bold;
      .company-image-header{
        margin-left: 10px;
        height: 60px;
        width: 60px;
        border: solid 1px #656873; 
        border-radius: 10px;
      }
      .description-company-make{
        margin-left: 20px;
        .fas.fa-key{
          color: rgba(255, 171, 4, 0.86);
        }
      }
    }
    .field{
      position:relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      padding: 3px 0px;
      #item-image{
        font-size:13px;
        line-height: 1;
        color: $accel_black;
        font-family: "メイリオ";
      }
      .input-title{
        width:300px;
        text-align:  left;
        color: #656873;
        font-size: 16px;
        display: flex;
        justify-content: start;
        .optional{
          background-color: #656873 !important;
        }
        span.must{
          font-size:16px;
          display:inline-block;
          text-align: center;
          background-color: rgba(228, 58, 211, .8);
          border-radius: 2px;
          color:white;
          font-weight: bold;
          padding: 1px 2px;
          box-shadow: 0 2px 4px 2px rgba(0,0,0,0.3);
          margin-top: 3px;
          margin-right: 10px;
          height:26px;
        }
        label{
          color: #656873;
          font-size: 20px;
        }
      }
      .birth-wrapper{
        width: 330px;
        display: flex;
        justify-content: start;
        .field_with_errors{
          display: flex;
          justify-content: center;
        }
        p{
          font-size: 20px;
          margin-top: 10px;
          margin-right: 6px;
          margin-left: 6px;
        }
        #worker_born_1i{
          border-color: #d8d8d8;
          border: 2px solid #ced4da;
          border-radius: 3px;
          padding: 6px;
          width:100px;
          height:40px;
          font-size:16px;
          background-image: radial-gradient(at top, #b5e6cf, #9dddad);
          background-color: white;
          box-shadow: 0 2px 0 white;
          background-image:
          linear-gradient(45deg, transparent 50%, rgb(91, 91, 91) 50%),
          linear-gradient(135deg, rgb(102, 102, 110) 50%, transparent 50%),
          linear-gradient(to right, rgb(234, 234, 234), rgb(255, 247, 247));
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        }
        #worker_born_2i{
          border-color: #d8d8d8;
          border: 2px solid #ced4da;
          border-radius: 3px;
          padding: 6px;
          width: 80px;
          height:40px;
          font-size:16px;
          background-image: radial-gradient(at top, #b5e6cf, #9dddad);
          background-color: white;
          box-shadow: 0 2px 0 white;
          background-image:
          linear-gradient(45deg, transparent 50%, rgb(91, 91, 91) 50%),
          linear-gradient(135deg, rgb(102, 102, 110) 50%, transparent 50%),
          linear-gradient(to right, rgb(234, 234, 234), rgb(255, 247, 247));
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        }
        #worker_born_3i{
          border-color: #d8d8d8;
          border: 2px solid #ced4da;
          border-radius: 3px;
          padding: 6px;
          width: 80px;
          height:40px;
          font-size:16px;
          background-image: radial-gradient(at top, #b5e6cf, #9dddad);
          background-color: white;
          box-shadow: 0 2px 0 white;
          background-image:
          linear-gradient(45deg, transparent 50%, rgb(91, 91, 91) 50%),
          linear-gradient(135deg, rgb(102, 102, 110) 50%, transparent 50%),
          linear-gradient(to right, rgb(234, 234, 234), rgb(255, 247, 247));
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          100% 0;
        background-size:
          5px 5px,
          5px 5px,
          2.5em 2.5em;
        background-repeat: no-repeat;
        }
      }
      .input-title.conpact{
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin: 0 5px;
        .in-conpact{
          display: flex;
          justify-content: start;
        }
      }
      input{
        position:relative;
        z-index: 2;
        border-color: #d8d8d8;
        border: 2px solid #ced4da;
        border-radius: 3px;
        padding: 10px;
        width:330px;
        height:40px;
        font-size:16px;
        background-color: #FFFFFF;
        &:focus{
          border-color: #E43AD2 ;
        }
        &.password-input{
          padding-right:40px;
        }
        &.password-confirmation-input{
          padding-right:40px;
        }
      }
      input.conpact_input{
        width:130px;
      }
      .gender-flex  {
        width:330px;
        display: flex;
        font-size: 23px;
        justify-content: center;
        border-top: dotted 1px #ced4da;
        border-bottom: dotted 1px #ced4da;
        .input_radio{
          width:30px;
          margin: 0 10px 0 60px;
        }
        .fa-mars{
          color: blue;
          font-size: 30px;
          margin-right: 3px;
        }
        .fa-venus{
          color: red;
          font-size: 30px;
          margin-right: 3px;
        }
      }
      .select-box{
        color: rgba(117, 117, 117, 1);
        border-color: #d8d8d8;
        border: 2px solid #ced4da;
        border-radius: 3px;
        padding: 10px;
        width:330px;
        height:45px;
        font-size:16px;
        background-image: radial-gradient(at top, #b5e6cf, #9dddad);
        background-color: white;
        box-shadow: 0 2px 0 white;
        background-image:
        linear-gradient(45deg, transparent 50%, rgb(91, 91, 91) 50%),
        linear-gradient(135deg, rgb(102, 102, 110) 50%, transparent 50%),
        linear-gradient(to right, rgb(234, 234, 234), rgb(255, 247, 247));
      background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
      background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
      background-repeat: no-repeat;
      }
    }
    .compact-wrapper{
      display: flex;
      justify-content: center;
      width: 720px;
      padding-left: 30px;
    }
    .submit-recaptcha-wrap{
      // display: flex;
      // flex-direction: center;
      border-top: 3px dotted rgba(0, 0, 0, 0.1);
      margin-top: 30px;
      margin-bottom:50px;
      .g-recaptcha{
        width: 304px;
        margin-top: 30px;
        margin-bottom:30px;
        margin: 20px auto;
      }
      .create-account{
        margin: 25px auto;
        border: 3px double rgba(255, 255, 255, 0.9);
        width: 200px;
        height:60px;
        padding: 3px;
        background-color:rgba(0,0,0,0.1);;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
        color: $accel_black;
        font-family: "メイリオ";
        box-shadow: 0 2px 2px $accel_black;
        font-size: 23px;
        font-weight: bold;
        outline: none;
        &:active{
          position : relative;
          top:  2px;
          box-shadow: none;
        }
      }
    }
    .form-countion{
      margin-top: 8px;
      font-size: 13px;
      margin-bottom: 8px;
      border-top: 1px dashed rgba(0,0,0,0.2);
      border-bottom: 1px dashed rgba(0,0,0,0.2);
      padding: 10px 0;
      background-color: rgba(242, 231, 0, .1);
      .company_login_id_countion{
        color: #fff86b;
        text-shadow: 0 0 3px #000; 
      }
    }
    i.fas.fa-eye{
      padding-right:10px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
      line-height: 40px;
      position: absolute;
      right:70px;
      z-index: 10;
      transition: .1s;
      &:hover{
        opacity: .8;
      }
      &:active{
        color: $accel_pink;
        text-shadow: 1px 1px 10px $accel-black;
      }
    }
    i.fas.fa-eye-slash{
      padding-right:10px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
      line-height: 40px;
      position: absolute;
      right: 70px;
      z-index: 10;
      &:hover{
        opacity: .8;
      }
      &:active{
        color: $accel_pink;
        text-shadow: 1px 1px 10px $accel-black;
      }
    }
  }
}

.flex-style.company-login{
  height: calc(100vh - 48px);
}



// 以下エラーメッセージ

#error_explanation{
  border: solid 1px red;
  box-shadow: 0 2px 2px 0 red;
  text-align: left;
  padding: 10px 10px 10px 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  font-family: "メイリオ";
  .error-icon-big{
    font-size: 130px;
    position: absolute;
    top: -3%;
    right: 3%;
    color: red;
    opacity: 0.1;
  }
  h2{
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  h3{
    font-size: 13px;
    color: red;
  }
}
#error_flash-login{
  background-color: rgba(255,255,255, .9);
  position: fixed;
  z-index: 999;
  top: -100px;
  left: calc(50% - 125px);
  padding:  10px;
  padding-top: 10px;
  border-radius: 6px;
  border: 1px solid $accel_black;
  border-bottom: 3px solid $accel_black;
  animation: flash-bar 3s ease .3s 1 normal;
  width: 250px;
    // キーフレームの定義
  // フラッシュを美しく演出するためのアニメーション
  @keyframes flash-bar{
    0%{
      top: -20px;
      
    }
    10%{
      top: -3px;
    }
    30%{
      top: -6px;
    }
    50%{
      top: -3px;
    }
    80%{
      top: -3px;
    }
    100%{
      top: -60px;
    }
  }
  i.fas.fa-check-circle.error-icon-big{
    color: rgb(122, 255, 101);
    font-size: 20px;
    padding: 10px;
    // animation: fadeIn .5s ease 3s 1 normal;
    span{
      color: $accel_black;
    }
  }
}
#error_flash{
  border: solid 1px $accel_pink;
  box-shadow: 0 2px 2px 0 $accel_pink;
  text-align: left;
  padding: 10px 10px 10px 30px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  font-family: "メイリオ";
  font-size: 20px;
  .error-icon-big{
    font-size: 60px;
    position: absolute;
    top: -6%;
    right: 3%;
    color: $accel_pink;
    opacity: .6;
  }
  h2{
    font-size: 20px;
    color: $accel_black;
    font-weight: bold;
  }
}

.field_with_errors{
  font-size: 16px;
  input{
    border-radius: 0 !important;
    background-color:#fff0f0 !important;
    height: 40px;
  }
  select{
    border-radius: 0 !important;
    background-color:#fff0f0 !important;
  }
  textarea{
    border-radius: 0 !important;
    background-color:#fff0f0 !important;
  }
}

.error-icon{
  color: red;
  font-size: 20px;
}

.error{
  margin-right: 70px;
  text-align: right;
  font-size: 16px;
  color: red;
}

.error-longer{
  margin-right: 30px;
  text-align: left;
  font-size: 16px;
  color: red;
}

.error-recaptcha{
  text-align: left;
  margin-left: 50px;
  font-size: 16px;
  color: red;
}

.error-wrapper{
  display: flex;
  justify-content: center;
  text-align: right;
  font-size: 16px;
  color: red;
  width: 720px;
  .error-line1{
    width: 310px;
    .error-longer{
      text-align: left;
      font-size: 16px;
      color: red;
    }
    .error{
      margin: 0 !important;
      text-align: right;
      font-size: 16px;
      color: red;
    }
  }
  .error-line2{
    width: 310px;
    .error-longer{
      text-align: left;
      font-size: 16px;
      color: red;
    }
    .error{
      margin: 0 !important;
      text-align: right;
      font-size: 16px;
      color: red;
    }
  }
}