$accel_pink: rgb(228, 58, 210);
$accel_black: #13202F;
$registration_theme: rgb(255, 149, 74);

.properties-index-page-wrapper{
  background-color: rgba(252, 252, 252, 0.3);
  font-family: arial, sans-serif;
  .sub-header{
    background-color: rgba(42, 35, 35, 0.572);
    height: 30px;
    font-size: 8px;
    display: flex;
    align-items: start;
    position:relative;
    z-index: 1;
  }
  main{
    section{
      margin: 20px auto 60px auto;
      .section-title{
        position: relative;
        font-size: 20px;
        letter-spacing: .04em;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        color: #111;
        text-align: center;
      }
    }
  }
}