$accel_pink: #E43AD2;
$accel_black: #13202F;  

.header{
  background-color:  #ececec;
  height: 70px;
    .container{
      height: 70px;
      // 箱作り
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      a{
        .good-svg{
          width: 200px;
          height: 70px;
        }
      }
      .navi-flex{
        display: flex;
        justify-content: center;
        ul{
          display: flex;
          justify-content: center;
          margin-left: 200px;
          li{
            height:60px;
            list-style: none;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            border-left:3px double;
            border-color: rgba(228, 58, 210 , 0.2);
            a{
              text-decoration: none;
              font-weight: 700;
              font-size: 20px;
              color:#13202F;
              &:hover{
                opacity: 0.6;
                color: $accel_pink;
              }
            }
          }
          .login_button{
            padding-top: 10px;
            .login_button_a{
              border-radius: 5px;
              height: 50px;
              padding: 10px;
              display: block;
              opacity: 1;
              background-color: rgba(0, 0, 0, 0.8);
              color: white;
              font-size: 20px;
              font-weight: bold;
              &:hover{
                color: #E43AD2;
              }
            }
          }
        }
      }
    }
}

.main-content-wrap{
  background-color: $accel_black;
    overflow: hidden;
  .content{
    .main-back{
      height: calc(100vh - 118px);
      position: relative;
      video{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      h2{
        position: absolute;
        top: 3%;
        left: 56vh;
        writing-mode: vertical-rl;
        font-size: 70px;
        color: white;
        letter-spacing: 15px;
      }
      h3{
        position: absolute;
        top: 3%;
        right: 10%;
        font-size: 70px;
        color: white;
        letter-spacing: 15px;
      }
      h1{
        width: 6000px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        position: absolute;
        color: white;
        top:50%;
        left: 50%;
        font-family: sans-serif;
        font-size: 30px;
        border:10px solid;
        border-color: rgba(228, 58, 210 , 0.1);
      }
    }
  }
}